* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
    margin: 0;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4%;
    border-bottom: 1px solid #ddd;
    background: #E5E5E5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
}

/* LOGO */

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #4176e8;
    cursor: pointer;
}

/* MENU */

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.menu a:hover {
    background: #4176e8;
    color: white;
}

/* CONTENT */

.content {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: calc(100vh - 70px); */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* PROFILE */

.profile-container {
    position: relative;
    margin-left: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    cursor: pointer;
}

/* DROPDOWN */

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 55px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    min-width: 150px;
    overflow: hidden;
}

.profile-dropdown a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
}

.profile-dropdown a:hover {
    background: #f2f2f2;
}


/* MOBILE BAR */

.mobile-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #E5E5E5;
    border-top: 1px solid #ddd;
    display: none;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.mobile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.mobile-profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* MOBILE MODE */

@media(max-width:768px) {

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 71px;
    }

    .menu {
        display: none;
    }

    .mobile-bar {
        display: flex;
    }

    .content {
        top: 70px;
        bottom: 65px;
        left: 0;
        /* height: calc(100vh - 135px); */
        /* padding-bottom: 65px; */
    }
}

/* ACTIVE NAV ITEM */

.navlink.active {
    background: #4176e8;
    color: white;
}

/* MOBILE ACTIVE */

.mobile-item.active {
    color: #4176e8;
    font-weight: 600;
}

.mobile-item.active svg {
    stroke: #4176e8;
}

.profile-pic.active {
    border: 2px solid #1d9bf0;
}

.mobile-profile.active {
    border: 2px solid #1d9bf0;
}